/*----------------------------General CSS for Main.jsx------------------------------ */
html {
  background-color: black;
}
.main {
  background: transparent;
  z-index: 3;
}
.break {
  height: 1vh;
  background-color: black;
  width: 100%;
}
.logologo {
  font-family: "Smooch", serif;
  font-size: 48px;
}
