#drinks {
  height: 100vh;
  background-image: url("../../images/cocktails.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
.textHolder {
  background: rgba(68, 68, 68, 0.6);
  height: 60%;
}
.drinkText {
  font-family: "Bree Serif", serif;
  font-size: 24px;
  letter-spacing: 2px;
  margin-top: 7%;
  color: white;
}
.drinkLink {
  margin-top: 20%;
  margin-bottom: 20%;
  background-color: black;
  transform: translateX(-5%);
  border-width: 5px;
  border-color: aliceblue;
  border-style: solid;
  transition: transform 250ms;
}
.drinkLink:hover {
  transform: translate(-5%, -10%);
}
