.contact {
  color: white;
  background-color: black;
  height: 55vh;
}
#phone {
  /* background: rgba(219, 226, 221, 0.1); */
  height: 90%;
  margin: auto 1%;
  transform: translateX(2%);
  border: solid;
  border-width: 0.2px;
  border-color: hsla(0, 0%, 100%, 0.575);
}
.logoSmall {
  font-family: "Smooch", serif;
  font-size: 38px;
  letter-spacing: 2px;
}
.roof {
  margin-top: 2%;
}
#location {
  /* background: rgba(219, 226, 221, 0.3); */
  height: 60%;
  height: 90%;
  margin: auto 1%;
  transform: translateX(5%);
  border: solid;
  border-width: 0.2px;
  border-color: hsla(0, 0%, 100%, 0.575);
}
#googleMap {
  margin-top: 2%;
}
h3 > a {
  color: white;
  text-decoration: none;
}
@media (max-width: 1279px) {
  #googleMap {
    width: 60%;
    height: 60%;
  }
}
@media (max-width: 940px) {
}
@media (max-width: 765px) {
  #googleMap {
    display: none;
  }
  #location {
    display: none;
  }
  #phone {
    display: none;
  }
  #contact {
    display: none;
  }
}
@media (min-width: 766px) {
  #smallContact {
    display: none;
  }
}
