.contact {
  color: white;
  background-color: black;
  height: 55vh;
}
#phone {
  /* background: rgba(219, 226, 221, 0.1); */
  height: 90%;
  margin: auto 1%;
  transform: translateX(2%);
  border: solid;
  border-width: 0.2px;
  border-color: hsla(0, 0%, 100%, 0.575);
}
#hours {
  /* background: rgba(219, 226, 221, 0.3); */
  height: 60%;
  height: 90%;
  margin: auto 1%;
  transform: translateX(5%);
  border: solid;
  border-width: 0.2px;
  border-color: hsla(0, 0%, 100%, 0.575);
}
#googleMap {
  margin-top: 2%;
}
