.nav {
  color: black;
  background: transparent;
  position: fixed;
}
@media (max-width: 550px) {
  #navDrinks {
    display: none;
  }
  #navChurrasco {
    display: none;
  }
  #navContact {
    display: none;
  }
}
@media (min-width: 549px) {
  #navSmallContact {
    display: none;
  }
}
