/*----------------------------General CSS for Nav.jsx------------------------------ */
.nav {
  color: black;
  background: transparent;
  position: fixed;
}
/* ------------------------------CSS for tablets and  phones---------------------------------- */
@media (max-width: 756px) {
  #navDrinks {
    display: none;
  }
  #navChurrasco {
    display: none;
  }
  #navContact {
    display: none;
  }
}
@media (min-width: 755px) {
  #navSmallContact {
    display: none;
  }
}
