.textHolder {
  background: rgba(68, 68, 68, 0.6);
  height: 60%;
}
#churrasco {
  background-color: grey;
  color: white;
  height: 100vh;
  background-image: url("../../images/Churrasco00003.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.logoSmall {
  font-family: "Smooch", serif;
  font-size: 38px;
  letter-spacing: 2px;
}
