.textHolder {
  background: rgba(68, 68, 68, 0.6);
  height: 60%;
}
#churrasco {
  background-color: grey;
  color: white;
  height: 100vh;
  background-image: url("../../images/Churrasco00003.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#youTubeDiv {
  margin-top: 7%;
}
.churrascoSmall {
  font-family: "Bree Serif", serif;
  font-size: 24px;
  letter-spacing: 2px;
  margin-top: 2%;
}

.vidButton {
  background-color: black;
  font-family: "smooch", serif;
  font-size: 40px;
  letter-spacing: 2px;
  margin-top: 3%;
  margin-right: 3%;
  margin-left: 3%;
  border-width: 5px;
  border-color: aliceblue;
  border-style: solid;
  transition: transform 250ms;
}
.vidButton:hover {
  transform: translateY(-10%);
}
/*-------------------------------- CSS for small laptops and tablets-------------------------- */
@media (max-width: 1279px) {
  .churrascoSmall {
    font-family: "Bree Serif", serif;
    font-size: 20px;
    letter-spacing: 2px;
    margin-top: 2%;
  }
  .vidButton {
    font-size: 30px;
  }
  #youTubeDiv {
    width: 300px;
    height: 170px;
  }
}
/* -----------------------------CSS for tablets and larger smart phones------------------------ */
@media (max-width: 869px) {
  .churrascoSmall {
    font-family: "Bree Serif", serif;
    font-size: 15px;
    letter-spacing: 2px;
    margin-top: 2%;
  }
  .vidButton {
    font-size: 25px;
    margin-top: 50%;
  }
  #youTubeDiv {
    display: none;
  }
}
/* ------------------------------CSS for large to medium phones---------------------------- */
@media (max-width: 599px) {
  .churrascoSmall {
    font-family: "Bree Serif", serif;
    font-size: 12px;
    letter-spacing: 2px;
    margin-top: 2%;
  }
}
/* --------------------------------CSS for small to medium phones--------------------------- */
@media (max-width: 399px) {
  .churrascoSmall {
    font-family: "Bree Serif", serif;
    font-size: 8px;
    letter-spacing: 2px;
    margin-top: 2%;
  }
}
